.app-title {
	text-align: center;
	color: #BD0D06;
	font-size: 40px;
}

.homepage-icons ul li{	
	float: left;
}
.homepage-icons .ui-btn .ui-btn-inner { 
	padding: 10px !important; 
	width: 150px;
	height: 150px;
	background-color: #BD0D06;
}
.homepage-icons .ui-btn .ui-icon {
	width: 150px !important; 
	height: 150px !important;
	
	 box-shadow: none !important;
	  -moz-box-shadow: none !important;
	  -webkit-box-shadow: none !important;
	  -webkit-border-radius: 0 !important; 
	border-radius: 0 !important; 
	left: 0px;
	right: 0px;
	margin: 10px;
}
#profile-icon .ui-icon { 
	background:  url("images/profile.png") 50% 50% no-repeat; 
	background-size: 150px; 
}
#appt-icon .ui-icon { 
	background: url("images/calendar.png") 50% 50% no-repeat; 
	background-size: 150px; 
}
#meds-icon .ui-icon { 
	background:  url("images/medicine.png") 50% 50% no-repeat; 
	background-size: 150px;  
}
#vaccines-icon .ui-icon { 
	background:  url("images/vaccine.png") 50% 50% no-repeat;  
	background-size: 150px;  
}
		



/*

.ex .ui-btn .ui-btn-inner { 
	padding-top: 40px !important;
}
.ex .ui-btn .ui-icon { 
	width: 30px!important; 
	height: 30px!important; 
	margin-left: -15px !important; 
	box-shadow: none!important; 
	-moz-box-shadow: none!important; 
	-webkit-box-shadow: none!important; 
	-webkit-border-radius: 0 !important; 
	border-radius: 0 !important; 
}
		


#profile-item .ui-icon { 
background:  url("images/profile.png") 50% 50% no-repeat; 
background-size: 24px 22px; }

.profile-item {
	border-right: solid white 1px;
	border-bottom: solid white 1px;
	background-image: url("images/profile.png");
	background-size: 100% 100%;
}

.appt-item {
	border-left: solid white 1px;
	border-bottom: solid white 1px;
	background-image: url("images/calendar.png");	
	background-size: cover;
}

.meds-item {
	border-right: solid white 1px;
	border-top: solid white 1px;
	background-image: url("images/medicine.png");
	background-size: cover;
}

.vaccines-item {
	border-left: solid white 1px;
	border-top: solid white 1px;
	background-image: url("images/vaccine.png");
	background-size: cover;	
}*/

.clear-left {
	clear: left
}