.ui-content {
	padding: 0px;
}

.app-title {
	text-align: center;
	color: #BD0D06;
	font-size: 60px;
}

.homepage-icons ul li{	
	float: left;
}
.homepage-icons .ui-btn .ui-btn-inner { 
	padding: 10px !important; 
	width: 280px;
	height: 280px;
	background-color: #BD0D06;
}
.homepage-icons .ui-btn .ui-icon {
	width: 100% !important; 
	height: 100% !important;
	
	 box-shadow: none !important;
	  -moz-box-shadow: none !important;
	  -webkit-box-shadow: none !important;
	  -webkit-border-radius: 0 !important; 
	border-radius: 0 !important; 
	left: 0px;
	right: 0px;
	top: 10px;
	margin: 10px;
}

.homepage-icons .ui-icon {
	margin-left: 0px;
	top: 0px;
	background-size: 100%; 
}

#profile-icon .ui-icon { 
	background:  url("images/profile_big.png") no-repeat; 
	
}
#appt-icon .ui-icon { 
	background: url("images/calendar_big.png") no-repeat; 
}
#meds-icon .ui-icon { 
	background:  url("images/medicine_big.png") no-repeat; 
}
#vaccines-icon .ui-icon { 
	background:  url("images/vaccine_big.png") no-repeat;  
}

.homepage-icons .ui-btn {
	width: 100%;
}
		
.homepage-icons .ui-btn-up-c a.ui-link-inherit {
	color: white;
}

.homepage-icons .ui-btn-hover-c {
	background-color: #92302C;
}

.homepage-icons .ui-btn-up-c {	
	color: white;
	text-shadow: 0 3px 0 #030303;
}

.homepage-icons .ui-btn-up-c:visited, .ui-btn-up-c a.ui-link-inherit {
	color:white;
}

.homepage-icons .ui-btn-text {
	font-size: large;
}

.ui-grid-c .ui-block-a, .ui-grid-c .ui-block-b, .ui-grid-c .ui-block-c, .ui-grid-c .ui-block-d {
	width: auto;
}


.rel-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	vertical-align: middle;
	width: 640px;
	overflow: hidden;
}

.clear-left {
	clear: left
}