<!DOCTYPE html>
<html>
  <head>
    <title>MedicalMe</title>   

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <link rel="stylesheet" href="/static/style.css" type="text/css" />

    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  </head>

  <body>    
    <!-- Home Page -->
    <div data-role="page" id="home">
      <div data-role="header" data-theme="c" data-position="fixed" class="app-title">
       MedicalMe
        <a href="#settings" data-role="button" data-icon="gear" data-iconpos="notext" class="ui-btn-right">Settings</a>
      </div>

      <div data-role="content" data-id="samebar" class="homepage-icons" data-tap-toggle="false">
		<div class="rel-container">
			<div data-role="navbar" class="homepage-icons" data-grid="c">
				<ul>
					<li><a href="#profile" id="profile-icon" data-icon="custom">Profile</a></li>
					<li><a href="#appt" id="appt-icon" data-icon="custom">Appointments</a></li>
					<li class="clear-left"><a href="#meds" id="meds-icon" data-icon="custom">Medications</a></li>
					<li><a href="#vaccines" id="vaccines-icon" data-icon="custom">Vaccines</a></li>
				</ul>
			</div>
		</div>
	</div>
      <!-- end content -->

      <div data-role="footer" data-theme="c" data-position="fixed">
        <center><span><a href="#about" style="text-decoration: none; color: black; font-size: 12px; font-style: italic;">(c) 2012 MedicalMe</a></span></center>
      </div>
    </div>


    <!-- About Page -->
    <div data-role="page" id="about">
      <div data-role="header" data-theme="c" data-position="fixed">
        <h1>About</h1>
        <a href="./" data-role="button" data-icon="arrow-l" data-iconpos="left">Back</a>
        <a href="#home" data-role="button" data-icon="home" data-iconpos="right">Home</a>
      </div>
      <div data-role="content">
        <p>This page will feature information about what the app does and who we are.</p>
      </div>
      <div data-role="footer" data-theme="c" data-position="fixed">
        <center style="font-size: 12px; font-style: italic;">(c) 2012 MedicalMe</h5>
      </div>
    </div>  <!-- end content -->


    <!-- Profile Page -->
    <div data-role="page" id="profile">
      <div data-role="header" data-theme="c" data-position="fixed">
        <h1>Profile</h1>
        <a href="./" data-role="button" data-icon="arrow-l" data-iconpos="left">Back</a>
        <a href="#home" data-role="button" data-icon="home" data-iconpos="right">Home</a>
      </div>
      <div data-role="content">
        <p>To be implemented: Displays the profile of currently logged in user.</p>
      </div>
      <div data-role="footer" data-theme="c" data-position="fixed">
        <center style="font-size: 12px; font-style: italic;">(c) 2012 MedicalMe</h5>
      </div>
    </div>  <!-- end content -->


    <!-- Appointments Page -->
    <div data-role="page" id="appt">
      <div data-role="header" data-theme="c" data-position="fixed">
        <h1>Appointments</h1>
        <a href="./" data-role="button" data-icon="arrow-l" data-iconpos="left">Back</a>
        <a href="#home" data-role="button" data-icon="home" data-iconpos="right">Home</a>
      </div>
      <div data-role="content">
        <p>To be implemented: Displays list of appointments of currently logged in user.</p>
      </div>
      <div data-role="footer" data-theme="c" data-position="fixed">
        <center style="font-size: 12px; font-style: italic;">(c) 2012 MedicalMe</h5>
      </div>
    </div>  <!-- end content -->


    <!-- Medication Page -->
    <div data-role="page" id="meds">
      <div data-role="header" data-theme="c" data-position="fixed">
        <h1>Medication</h1>
        <a href="./" data-role="button" data-icon="arrow-l" data-iconpos="left">Back</a>
        <a href="#home" data-role="button" data-icon="home" data-iconpos="right">Home</a>
      </div>
      <div data-role="content">
        <p>To be implemented: Displays the list of medication of currently logged in user.</p>
      </div>
      <div data-role="footer" data-theme="c" data-position="fixed">
        <center style="font-size: 12px; font-style: italic;">(c) 2012 MedicalMe</h5>
      </div>
    </div>  <!-- end content -->


    <!-- Vaccines Page -->
    <div data-role="page" id="vaccines">
      <div data-role="header" data-theme="c" data-position="fixed">
        <h1>Vaccines</h1>
        <a href="./" data-role="button" data-icon="arrow-l" data-iconpos="left">Back</a>
        <a href="#home" data-role="button" data-icon="home" data-iconpos="right">Home</a>
      </div>
      <div data-role="content">
        <p>To be implemented: Displays vaccine history of currently logged in user.</p>
      </div>
      <div data-role="footer" data-theme="c" data-position="fixed">
        <center style="font-size: 12px; font-style: italic;">(c) 2012 MedicalMe</h5>
      </div>
    </div>  <!-- end content -->
    
    <!-- Settings Page -->
    <div data-role="page" id="settings" data-theme="c">

	<div data-role="header" data-theme="c">
		<a href="#" data-icon="check">Save</a>
		<h1>Settings</h1>
		<a href="#home" data-icon="cancel">Cancel</a>

	</div><!-- end header -->

	<div data-role="content">	
		<p> To be implemented: Settings for user </p>
	<form action="submit.php" method="post">
		<div data-role="fieldcontain">
	     <label for="foo">Text Input:</label>
	     <input type="text" name="name" id="foo" value=""  />
		</div>
	
		<div data-role="fieldcontain">
		<fieldset data-role="controlgroup">
	    	<legend>Gender:</legend>
	         	<input type="radio" name="gender" id="radio-female" value="f" />
	         	<label for="radio-female">Female</label>
	
	         	<input type="radio" name="gender" id="radio-male" value="m" />
	         	<label for="radio-male">Male</label>
	    </fieldset>
	    </div>
	
		<div data-role="fieldcontain">
		<label for="flip-s">Server status:</label>
		<select name="flip-s" id="flip-s" data-role="slider">
			<option value="off">Off</option>
			<option value="on">On</option>
		</select>
	    </div>
	
	    <div data-role="fieldcontain">
		<label for="slider">Max bandwidth:</label>
		<input type="range" name="slider" id="slider" value="0" min="0" max="100" />
	    </div>
	
		<div data-role="fieldcontain">
			<label for="select-choice-x" class="select">Shipping:</label>
			<select name="select-shipper" id="select-choice-x" >
				<option></option>
				<option value="standard">Standard</option>
				<option value="rush">Rush</option>
				<option value="express">Express</option>
				<option value="overnight">Overnight</option>
			</select>
		</div>
		<div class="ui-block-b"><button type="submit" data-theme="a">Submit</button></div>

	</form>
	</div>  <!-- end content -->


  </body>
</html>

